/* Set up & Mobile first (nexus 5) */

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 1em;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  /* BentOnCoding explained that body should have a min-height of 100% if the content needs to change dynamically, which might be the case in this app.
  Source: https://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height */
  background-color: #b9b8bf;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2em
}

li, p {
  text-align: justify;
}


.header {
  width: 100%;
  border-width: 0 0 1px;
  border-color: #ffffff;
  border-style: solid;
}


.rules {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-width: 0 0 1px;
  border-color: #ffffff;
}

h2 {
  width: 100%;
  text-align: center;
}

.list-instructions {
}

.statistics {
  width: 100%;
  border-width: 0 0 1px;
  border-color: #ffffff;
  border-style: solid;
}

/* Create flex-box for the stars */
.rating-star {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Create flex-box for the additional-data */
.additional-data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Create flex-box for the button */
.control-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

/* Create flex-box for the board game */

.game-board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: 1px solid #ffffff;
}

#area-of-game {
  width: 95%;
  border: 1px solid #ffffff;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.card {
  border: 5px outset #00BFFF;
  display: inline-block;
  text-align: center;
  background: linear-gradient(#0061ff, #93bcff);
  margin: 5px;
  width: 20%;
}

.card .fas {
  font-size: 48px;

}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.flip {
  transform: rotateY(180deg);
  transition: 2s;
}

.matched {
  transform: rotateX(360deg);
  transition: 2s;
background: linear-gradient(blue, red)}

.not-matched {
  background-color: red;
}
